@model BrandexSalesAdapter.ExcelLogic.Models.Distributor.DistributorsCollectionModel
<h1>Import Distributors</h1>
<form asp-action="Import" method="POST">
    <p>
        Name: <input type="text" name="name" />
        <input type="submit" value="Add" />
    </p>
</form>
<div class="row">
    @foreach (var distributor in Model.Distributors)
    {
        <div class="col-md-4 media">
            @distributor
        </div>
    }
</div>