@using (Html.BeginForm("Import", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Products Bulk Import</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="ImageFile" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<hr />

@using (Html.BeginForm("Upload", "Products", FormMethod.Post))
{
<div class="form-horizontal">
    <h4>Products Manual Import</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="form-group">
            <label name="productName" class="control-label">Name</label>
            <input name="productName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="productShortName" class="control-label">Short Name</label>
            <input name="productShortName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="productPrice" class="control-label">Price</label>
            <input name="productPrice" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="brandexId" class="control-label">Brandex Id</label>
            <input name="brandexId" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="pharmnetId" class="control-label">Pharmnet Id</label>
            <input name="pharmnetId" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="phoenixId" class="control-label">Phoenix Id</label>
            <input name="phoenixId" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="sopharmaId" class="control-label">Sopharma Id</label>
            <input name="sopharmaId" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="stingId" class="control-label">Sting Id</label>
            <input name="stingId" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
</div>
}
