@using (Html.BeginForm("Import", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Companies Bulk Import</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="ImageFile" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<hr />

@using (Html.BeginForm("Upload", "Companies", FormMethod.Post))
{
    
<div class="form-horizontal">
    <h4>Company Manual Import</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="form-group">
            <label name="companyName" class="control-label">Company Name</label>
            <input name="companyName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="vat" class="control-label">VAT</label>
            <input name="vat" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label name="ownerName" class="control-label">Owner</label>
            <input name="ownerName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
</div>
}